body {
  margin: 0;
  background-color: green;
}

#cabecalho {
  height: 10vw;
  justify-content: space-between;
  background-color: lightgray;
  display: flex;
  align-items: center;
}

#cabecalho img {
  width: 50%;
  height: 50%;
  margin-left: 50px;
  margin-top: 10px;
}

#menu-topo a {
  text-decoration: none;
  color: black;
  padding: 15px;
  font-size: 23px;
  font-weight: 200px;
  text-transform: uppercase;
}

#menu-topo a:hover {
  color: white;
}

#menu {
  height: 110vh;
  background-color: lightgray;
  width: 300px;
  float: left;
}

#menu-lateral {
  display: grid;
  justify-content: left;
}

#menu-lateral a {
  text-decoration: none;
  color: black;
  padding: 50px;
  font-size: 23px;
  font-weight: 200px;
  text-transform: uppercase;
}

#menu-lateral a:hover {
  color: white;
}

#principal {
  height: 800px;
  width: 100%;
  background-color: whitesmoke;
}

#avaliados {
  height: 200px;
  background-color: whitesmoke;
}

footer {
  position: absolute;
  width: 100%;
}

#rodape {
  height: 20vh;
  background-color: lightgray;
  box-sizing: border-box;
}

#baixo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#baixo a {
  text-decoration: none;
  color: black;
  padding: 60px;
  font-size: 23px;
  font-weight: 200px;
  margin-top: 20px;
  text-transform: uppercase;
}

#baixo a:hover {
  color: white;
}

#inputQuestion {
  height: 150px;
  width: 350px;
  font-size: 23px;
}

.form-control {
  width: 500px;
  height: 50px;
  font-size: 23px;
  text-align: center;
}

.btn {
  font-size: 23px;
}